input {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 24px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
    font-size: 1.5em;
}

div.hg-button.hg-standardBtn.emotions {
  background: #0476D9;
  color: white;
}

div.hg-button.hg-standardBtn.hebrew {
  font-size: 2em;
}
div.hg-button.hg-standardBtn.verbs {
  background: #A4D932;
  color: white;
}
div.hg-button.hg-standardBtn.love {
  background: #F2BE22;
  color: white;
}
